.sec4 {
	background-image: url("../img/sec4-bg.jpg");
	padding-top: 100px;

	&__decor {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&__list {
		color: white;
		margin: 0 auto 100px;
		width: 80%;
	}

	&__list-item {
		margin-bottom: 50px;
		padding-left: 120px;
		position: relative;
	}
    
	&__list-number {
		font-family: "Gilroy", sans-serif;
		font-size: 50px;
		font-weight: bold;
		position: absolute;
		left: 0;
	}

	&__list-text {
		padding-top: 20px;
	}

	&__form {
		background-color: white;
		box-shadow: 0 0 10px black;
		padding: 60px 60px 60px 30%;
		position: relative;
		z-index: 2;
	}

	&__form-img {
		position: absolute;
		top: 20px;
		left: -100px;
	}
}