.sec2 {
    overflow: hidden;
    
    &__border {
        margin-left: 14%;
        padding: 100px 50px 200px 20%;
        min-width: 100%;

        @include media(w1500) {
            padding: 50px 20px 100px 20%;
            min-width: 0;
        }

        @include media(w1280) {
            margin-bottom: 30px;
        }

        @include media(w1024) {
            margin-bottom: 30px;
            padding: 30px 20px 100px 12%;
        }

        @include media(w768) {
            border: none;
            margin-left: 0;
            margin-bottom: 50px;
            padding: 20px 0;
        }
    }

    &__border-inner {
        padding-left: 10%;

        @include media(w768) {
            padding-left: 0;
        }
    }

    &__note-container {

        @include media(w768) {
            margin-left: -18px;
            margin-right: -18px;
        }
    }

    &__note {
        transform: translateY(-60%);
        background-color: $main-blue;
        margin-left: 8%;
        padding: 30px 30px 30px 33%;
        min-width: 100%;

        @include media(w1500) {
            margin-left: 6%;
            padding: 30px 30px 30px 35%;
            min-width: 0;
            width: 90%;
        }

        @include media(w1280) {
            padding: 30px 8% 30px 35%;
        }

        @include media(w1024) {
            transform: translateY(0);
            padding: 30px 8% 30px 28%;
        }

        @include media(w768) {
            margin-left: 0;
            padding: 30px 10px 120px 42%;
            width: auto;
        }
    }

    &__img {
        position: absolute;
        right: 58%;
        bottom: 0;
        height: 100%;

        @include media(w1024) {
            right: 63%;
            max-width: 700px;
        }

        // @include media(w1024) {
        //     right: 63%;
        //     height: auto;
        //     max-width: 300px;
        // }

        @include media(w768) {
            right: auto;
            left: -60px;
            height: auto;
            max-width: 200px;
        }
    }

    &__decor-text {
        font-size: 414px;
        background-image: linear-gradient(to bottom, #c7c7c7, white);
        -webkit-background-clip: text;
        color: white;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left: 7%;
        bottom: -150px;

        @include media(w1700) {
            font-size: 320px;
            bottom: -130px;
            left: 0;
        }

        @include media(w1280) {
            font-size: 300px;
            bottom: -130px;
            left: -50px;
        }

        @include media(w1024) {
            font-size: 172px;
            left: -30px;
            bottom: -70px;
        }

        @include media(w768) {
            left: 10px;
            bottom: -70px;
        }
    }
}