.sec4 {
	background-image: url("../img/sec4-bg.jpg");
	padding-top: 100px;

	@include media(w1024) {
		padding-top: 60px;
	}

	@include media(w768) {
		padding-top: 30px;
	}

	&__decor {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&__list {
		color: white;
		margin: 0 auto 100px;
		width: 80%;

		@include media(w1024) {
			//margin-bottom: 60px;
			width: 100%;
		}
	}

	&__list-item {
		margin-bottom: 50px;
		padding-left: 120px;
		position: relative;

		@include media(w1024) {
			margin-bottom: 30px;
		}

		@include media(w768) {
			text-align: center;
			padding-left: 0;
		}
	}
    
	&__list-number {
		font-family: "Gilroy", sans-serif;
		font-size: 50px;
		font-weight: bold;
		position: absolute;
		left: 0;

		@include media(w768) {
			position: static;
		}
	}

	&__list-text {
		padding-top: 20px;
	}

	&__form {
		background-color: white;
		//box-shadow: 0 0 10px black;
		padding: 60px 60px 60px 30%;
		position: relative;
		z-index: 2;

		&:after {
			content: "";
			background-image: url("../img/sec4-shadow.png");
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50% 50% 0 0;
			position: absolute;
			top: 99%;
			left: 0;
			height: 28px;
			width: 100%;
		}

		@include media(w1024) {
			text-align: center;
			padding: 0 20px 40px;
		}
	}

	&__form-img {
		position: absolute;
		top: 20px;
		left: -100px;

		@include media(w1024) {
			margin-top: -60px;
			position: static;
			max-width: 240px;
		}
	}
}