.sec3 {
    overflow: hidden;

    &__top {
        background-image: url("../img/sec3-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 60px;
        padding-top: 100px;
        padding-bottom: 100px;

        @include media(w1024) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @include media(w768) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
        position: relative;

        &:after {
			content: "";
			background-image: url("../img/sec3-shadow.png");
			background-size: 100%;
			background-position: 0 10px;
            background-repeat: no-repeat;
			border-radius: 50% 50% 0 0;
			position: absolute;
			bottom: -19px;
			left: 0;
			height: 29px;
			width: 100%;
		}

        @include media(w1024) {
            margin: 0 auto 40px;
        }

        @include media(w768) {
            margin: 0 auto 30px;
            width: 100%;
        }
    }

    &__list-row {
        display: flex;
        width: 100%;

        @include media(w768) {
            flex-direction: column;
        }

        &:nth-child(2) {

            .sec3__list-item {

                @include media(w768) {
                    order: 2;
                }
            }

            .sec3__list-item_img {

                @include media(w768) {
                    order: 1;
                }
            }
        }
    }

    &__list-item {
        background-color: white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 50%;

        &_img {

            @include media(w768) {
                padding: 0;
            }
        }

        @include media(w768) {
            background-image: none !important;
            width: 100%;
        }

        p {
            width: 100%;
        }
    }

    &__list-img {
        display: none;

        @include media(w768) {
            display: block;
            width: 100%;
        }
    }

    &__list-icon {

        @include media(w1024) {
            max-height: 80px;
        }

        @include media(w768) {
            max-width: 60px;
        }
    }

    &__achievments {
        display: flex;
        margin-bottom: 60px;

        @include media(w1024) {
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        @include media(w768) {
            margin-bottom: 30px;
        }
    }

    &__achievments-item {
        width: 33%;

        @include media(w1024) {
            width: 50%;
        }

        @include media(w768) {
            width: 100%;
        }

        &:first-child {
            text-align: left;

            @include media(w1024) {
                text-align: center;
                flex-wrap: wrap;
            }
        }

        &:nth-child(2) {

            @include media(w1024) {
                text-align: center;
            }
        }

        &:last-child {
            text-align: right;

            @include media(w1024) {
                text-align: center;
                width: 100%;
            }
        }
    }

    &__achievments-wrap {
        display: inline-block;
        text-align: center;
    }

    &__achievments-number {
        border-bottom: 2px solid currentColor;
        color: $main-blue;
        display: inline-block;
        font-family: "Gilroy", sans-serif;
        font-size: 83px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 10px;

        @include media(w1280) {
            font-size: 75px;
        }

        @include media(w768) {
            font-size: 58px;
        }
    }

    &__bottom {
        padding-bottom: 100px;
    }

    &__bottom-text-pc {

        @include media(w768) {
            display: none;
        }
    }

    &__bottom-text-mobile {
        display: none;
        text-align: center;

        @include media(w768) {
            display: block;
        }
    }

    &__border {
        padding: 60px 40% 60px 60px;
        right: 10%;
        min-width: 100%;

        @include media(w1366) {
            right: 0;
            min-width: 0;
            width: 100%;
        }

        @include media(w768) {
            text-align: center;
            padding: 0 10px 0;
        }
    }

    &__bottom-btn {
        position: relative;

        @include media(w768) {
            transform: translateY(-30px);
        }
    }

    &__border-img {
        position: absolute;
        bottom: -46px;
        right: -140px;

        @include media(w1024) {
            max-width: 400px;
        }

        @include media(w768) {
            transform: translateY(40px);
            display: block;
            margin: 0 auto;
            position: static;
            width: 80%;
        }
    }
}