button {
    white-space: nowrap;

    &.btn-round {
        outline: none;
    }
}

a {

    &.btn-round {
        display: inline-flex;
        align-items: center;
    }
}

.btn-round {
    background-image: linear-gradient(to bottom, #00aaff, #0083c5);
    //background-color: $main-red;
    border: none;
    border-top: 1px solid #0083c5;
    border-radius: 40px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 27px;
    text-align: center;
    text-decoration: none;
    padding: 0 35px;
    height: 80px;

    &:hover {
        background-image: linear-gradient(to bottom, darken(#00aaff, 2%), darken(#0083c5, 2%));
    }

    @include media (w1024) {
        border-radius: 32px;
        font-size: 20px;
        height: 64px;
    }

    @include media (w768) {
        border-radius: 30px;
        //font-size: 15px;
        justify-content: center;
        padding: 15px 10px;
        height: auto;
        width: 100%;
    }

    &_white {
        background-color: white;
        color: black;

        &:hover {
            animation: btnAnimWhite 0.8s 0s ease-out 1;
        }
    }

    &_download {
        position: relative;

        &:after {
            content: "PDF, 6Mb";
            color: black;
            font-size: 25px;
            position: absolute;
            left: calc(100% + 20px);
            white-space: nowrap;

            @include media (w1024) {
                font-size: 18px;
            }

            @include media (w768) {
                content: none;
            }
        }
    }

    &_download-column {
        margin-bottom: 50px;

        &:after {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: calc(100% + 10px);
        }
    }

    &_clear {
        
        &:after {
            content: none;
        }
    }
}

@keyframes btnAnimRed {
    from {
        box-shadow: 0 0 8px 6px $main-red, 0 0 12px 14px $main-red;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}

@keyframes btnAnimWhite {
    from {
        box-shadow: 0 0 8px 6px white, 0 0 12px 14px white;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}