@font-face {
	font-family: 'Philosopher';
	src: url('../fonts/Philosopher/hinted-Philosopher.eot');
	src: url('../fonts/Philosopher/hinted-Philosopher.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Philosopher/hinted-Philosopher.woff2') format('woff2'),
		url('../fonts/Philosopher/hinted-Philosopher.woff') format('woff'),
		url('../fonts/Philosopher/hinted-Philosopher.ttf') format('truetype'),
		url('../fonts/Philosopher/hinted-Philosopher.svg#Philosopher') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Philosopher';
	src: url('../fonts/Philosopher/hinted-Philosopher-Bold.eot');
	src: url('../fonts/Philosopher/hinted-Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Philosopher/hinted-Philosopher-Bold.woff2') format('woff2'),
		url('../fonts/Philosopher/hinted-Philosopher-Bold.woff') format('woff'),
		url('../fonts/Philosopher/hinted-Philosopher-Bold.ttf') format('truetype'),
		url('../fonts/Philosopher/hinted-Philosopher-Bold.svg#Philosopher-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'RosaMarena';
	src: url('../fonts/RosaMarena/hinted-RosaMarena.eot');
	src: url('../fonts/RosaMarena/hinted-RosaMarena.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RosaMarena/hinted-RosaMarena.woff2') format('woff2'),
		url('../fonts/RosaMarena/hinted-RosaMarena.woff') format('woff'),
		url('../fonts/RosaMarena/hinted-RosaMarena.ttf') format('truetype'),
		url('../fonts/RosaMarena/hinted-RosaMarena.svg#RosaMarena') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/hinted-Gilroy-Bold.eot');
	src: url('../fonts/Gilroy/hinted-Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/hinted-Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy/hinted-Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy/hinted-Gilroy-Bold.ttf') format('truetype'),
		url('../fonts/Gilroy/hinted-Gilroy-Bold.svg#Gilroy-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}