extends templates/layout

block vars
    - var title = 'Чистое серебро'

block content
    section.sec.thanks
        include components/header
        div.container.ta-center
            div.sec1__border.thanks__border
                div.sec1__inner-border
                    p.text.text_xxl.bold.
                        <span id="thanksName"></span>наши</span> менеджеры уже занимаются вашей заявкой
                    p.sec1__decor-text.mb0.thanks__decor.
                        Мы свяжемся с Вами<br> в ближайшее время
            p.thanks__subtitle.
                График работы с 9.00 до 18.00 
            p.thanks__subtitle.mb2.
                Поэтому, если вы оставили заявку в нерабочее время, мы перезвоним вам на следующий рабочий день
            div.thanks__buttons
                a(href="doc/mk.pdf" target="_blank").btn-round.mb1.
                    Скачать презентацию
                a(href="/index.html").thanks__links-link.text.text_m.
                    Вернуться на сайт