footer.footer
    div.container.footer__container
        div.footer__block.footer__block_social
            p.footer__text.footer__text_copy.
                © Чистое серебро, 2017<br> ювелирная компания
            div.footer__block-about-mobile
                p.footer__text.mb0.
                    Узнайте больше о нашей компани
                a(href="www.chistoe-serebro.ru" target="_blank").footer__link.
                    www.chistoe-serebro.ru
                div.mb0
                    span.
                        E-mail:
                    a(href="mailto:vsimutov@yandex.ru" target="_blank").footer__link.
                        vsimutov@yandex.ru
                p.mb0.
                    г. Набережные Челны, Бульвар Галиаскара Камала, 18а
            div.footer__social.footer__social_pc
                p.footer__social-title.mb0.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-facebook
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-tripadvisor
        div.footer__block.footer__block_about.footer__block_about-pc
            p.footer__text.mb0.
                Узнайте больше о нашей компани
            a(href="www.chistoe-serebro.ru" target="_blank").footer__link.
                www.chistoe-serebro.ru
            div.mb0
                span.
                    E-mail:
                a(href="mailto:vsimutov@yandex.ru" target="_blank").footer__link.
                    vsimutov@yandex.ru
            p.mb0.
                г. Набережные Челны, Бульвар Галиаскара Камала, 18а
        div.footer__block.footer__block_contacts
            a(href="tel:89218450907" data-phone="89218450907").footer__phone.
                +7(921)845-09-07
            a(href="").footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок
            a(href="doc/politic.pdf" target="_blank").footer__link.footer__link_politic.
                Политика конфиденциальности
            div.footer__social.footer__social_mobile
                p.footer__social-title.mb0.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-facebook
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-tripadvisor