section.sec.sec1
    include header
    div.container.ta-center
        div.sec1__border
            div.sec1__inner-border
                p.text.text_xxl.bold.ta-center.
                    Прибыльный ювелирный магазин по франшизе за 50 дней
                p.sec1__decor-text.mb0.
                    франшиза «Чистое серебро»
        p.text.text_s.mb2.
            Узнайте как гарантированно получать от 1 320 000 рублей в год - скачайте презентацию
        a(href="").btn-round.btn-round_download.btn-round_download-column.js-small-btn.sec1__btn.
            Скачать презентацию франшизы