section.sec.sec2
    div.container
        div.border-block.sec2__border
            h2.color-blue.mb2.
                Спрос на ювелирные изделия стабильно растёт последние 70 лет
            div.sec2__border-inner
                p.text.text_s.mb2.
                    Ювелирные украшения – это красивый, статусный и универсальный продукт. Его приобретают для себя, в подарок или как вложение денег.
                p.text.text_s.mb2.
                    Однако изделия из золота не всем по карману. Даже с учётом постоянно растущих реальных доходов населения. Поэтому особую популярность обрели изделия из серебра 925 пробы.
                p.text.text_s.mb2.
                    В 2016 году суммарная выручка магазинов, которые продают серебро в России, составила рекордные $ 3,5 млрд.
    div.container
        div.sec2__note
            p.text.text_l.color-white.
                60% от этой суммы владельцы забрали себе, как чистую прибыль
    img(src="img/sec2-women.png", alt="").sec2__img
    div.sec2__decor-text.
        60%


