section.sec.sec3
    div.container.ta-center
        h2.bold.color-white.mb1.
            Компания «Чистое Серебро» продаёт серьги, цепочки, кольца и колье из серебра с 2007 года
        img(src="img/decor-flower.png", alt="").mb2
        div.sec3__list
            div(style="background-image:url('img/sec3-img1.jpg');").sec3__list-item
                div.sec3__list-img
            div.sec3__list-item
                img(src="img/sec3-icon1.png", alt="").mb2
                p.text.text_s.
                    Мы выросли из небольшого «хобби» в сеть из 12 филиалов за 10 лет. Сейчас нашей продукцией пользуются жители республики Татарстан и Московской области.
