section.sec.sec3
    div.sec3__top
        div.container.ta-center
            h2.bold.color-white.mb1.
                Компания «Чистое Серебро» продаёт серьги, цепочки, кольца и колье из серебра с 2007 года
            img(src="img/decor-flower.png", alt="").mb2
            div.sec3__list
                div.sec3__list-row
                    div(style="background-image:url('img/sec3-img1.jpg');").sec3__list-item.sec3__list-item_img
                        img(src="img/sec3-img1-1.jpg", alt="").sec3__list-img
                    div.sec3__list-item
                        img(src="img/sec3-icon1.png", alt="").mb2.sec3__list-icon
                        p.text.text_s.
                            Мы выросли из небольшого «хобби» в сеть из 12 филиалов за 10 лет. Сейчас нашей продукцией пользуются жители республики Татарстан и Московской области.
                div.sec3__list-row
                    div.sec3__list-item
                        img(src="img/sec3-icon2.png", alt="").mb2.sec3__list-icon
                        p.text.text_s.
                            Большинство наших изделий находятся в ценовом сегменте «ниже среднего». 
                    div(style="background-image:url('img/sec3-img2.jpg');").sec3__list-item.sec3__list-item_img
                        img(src="img/sec3-img2-2.jpg", alt="").sec3__list-img
                div.sec3__list-row
                    div(style="background-image:url('img/sec3-img3.jpg');").sec3__list-item.sec3__list-item_img
                        img(src="img/sec3-img3-3.jpg", alt="").sec3__list-img
                    div.sec3__list-item
                        img(src="img/sec3-icon3.png", alt="").mb2.sec3__list-icon
                        p.text.text_s.
                            Мы тщательно выбираем изделия, которые попадают на полки магазинов – и поэтому 90%- нашей продукции раскупается моментально!
            p.text.text_l.mb2.
                Цифры, которых достиг каждый наш магазин:
            div.sec3__achievments
                div.sec3__achievments-item
                    div.sec3__achievments-wrap
                        div.sec3__achievments-number.
                            10 000
                        p.text.text_m.
                            изделий<br> в ассортименте
                div.sec3__achievments-item
                    div.sec3__achievments-wrap
                        div.sec3__achievments-number.
                            900 000
                        p.text.text_m.
                            рублей средний<br> размер выручки
                div.sec3__achievments-item
                    div.sec3__achievments-wrap
                        div.sec3__achievments-number.
                            135 000
                        p.text.text_m.
                            рублей средняя<br> чистая прибыль
            img(src="img/decor-flower.png", alt="").mb2
    div.sec3__bottom
        div.container
            p.text.text_l.mb2.sec3__bottom-text-mobile.
                Успех наших магазинов показал: мы можем открыться в любом городе, и выйти на достойные показатели
            div.border-block.sec3__border
                p.text.text_l.mb2.sec3__bottom-text-pc.
                    Успех наших магазинов показал: мы можем открыться в любом городе и выйти на достойные показатели
                a(href="").btn-round.js-small-btn.sec3__bottom-btn.
                    Скачать презентацию франшизы
                img(src="img/sec3-bust.png", alt="").sec3__border-img




