section.sec.sec4
    div.container
        h2.bold.color-white.mb1.ta-center.
            Станьте нашим партнёром по франшизе «Чистое серебро» – мы сами приедем и откроем вам магазин
        img(src="img/decor-flower.png", alt="").sec4__decor.mb3
        div.sec4__list
            div.sec4__list-item
                div.sec4__list-number.
                    01/
                div.sec4__list-text
                    p.text.text_m.mb0.
                        Пока вы будете вникать в тонкости бизнеса и обучаться, мы подберём площадь для магазина и оборудуем всем необходимым для работы.
            div.sec4__list-item
                div.sec4__list-number.
                    02/
                div.sec4__list-text
                    p.text.text_m.mb0.
                        Мы сами наймём и обучим персонал, настроим рекламу.
        div.sec4__form
            p.text.text_l.mb2.
                За вами останется только контроль работы магазина, закупка товара и инвентаризация!
            a(href="").btn-round.js-small-btn.
                Узнать подробнее
            img(src="img/sec4-ring.png", alt="").sec4__form-img


