section.sec.sec5
    div.container.ta-center
        h2.bold.color-white.mb1.color-blue.mb2.
            Мы включили во франшизу всё, что потребуется для выхода на стабильные показатели уже через полгода работы
        div.sec5__list
            div.sec5__list-item
                img(src="img/sec5-img1.png", alt="").sec5__list-img
                p.text.text_m.sec5__list-text.
                    Право на использование бренда «Чистое Серебро»
            div.sec5__list-item
                img(src="img/sec5-img2.png", alt="").sec5__list-img
                p.text.text_m.sec5__list-text.
                    Рекламные материалы для онлайн- и офлайн маркетинга
            div.sec5__list-item
                img(src="img/sec5-img3.png", alt="").sec5__list-img
                p.text.text_m.sec5__list-text.
                    10 000 – ассортимент трендовых товаров по лучшим ценам
            div.sec5__list-item
                img(src="img/sec5-img4.png", alt="").sec5__list-img
                p.text.text_m.sec5__list-text.
                    Дизайн-проект вашего будущего магазина
            div.sec5__list-item
                img(src="img/sec5-img5.png", alt="").sec5__list-img
                p.text.text_m.sec5__list-text.
                    Наше 100%-участие во всех этапах открытия бизнеса
        a(href="").btn-round.js-small-btn.
            Узнать подробнее
    img(src="img/sec5-brilliants-bottom.png", alt="").sec5__brilliant