section.sec.sec6
    div.sec6__top
        div.container
            h2.bold.color-white.mb2.ta-center.
                Чтобы открыться за 50 дней, потребуется  150 000 рублей на приобретение франшизы
            div.sec6__img-block
                div.sec6__img-block-item
                    img(src="img/sec6-img.jpg", alt="").sec6__img-block-img.sec6__img-block-img_pc
                    img(src="img/sec3-img1-1.jpg", alt="").sec6__img-block-img.sec6__img-block-img_mobile
                div.sec6__img-block-item
                    p.text.text_l.
                        А также <span class="bold">инвестиции</span> на оборудование, рекламу и приобретение первой партии ювелирных украшений
    div.sec6__bottom
        div.container
            div.border-block.sec6__border
                div.sec6__border-fact
                    p.text.text_l.bold.color-white.mb0.
                        Факт: когда магазины других сфер закрылись в кризис, ювелирные – продолжили работу
                div.sec6__border-text
                    p.text.text_l
                        |Мы поможем вам стать владельцем бизнеса в действительно стабильной сфере
                        =" "
                        span.bold.
                            и зарабатывать от <br>110 000 рублей в месяц!
                a(href="").btn-round.js-small-btn.sec6__border-btn.
                    Узнать подробнее
        img(src="img/sec6-women.png", alt="").sec6__bottom-img